/* stylelint-disable order/properties-alphabetical-order */
.container-cart-products {
  background-color: white;
  width: 50vw;
  margin: auto;
  padding: 5px;
}

.container-line-product {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-amount {
  display: flex;
  align-items: center;
}

.container-amount button {
  border: none;
  background-color: white;
}

.container-cart-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-title {
  font-size: 0.9em;
  margin-bottom: 15px;
}

.cart-price {
  font-size: 1em;
  font-weight: 700;
}

.container-cart-center .fa-minus, .fa-plus, .fa-trash {
  font-size: 1.1em;
  padding: 0 10px;
}

.container-cart-center p {
  margin: 0;
  font-weight: 700;
}
