footer {
  align-items: center;
  background-color: #407d6c;
  border-radius: 15px 50px 0 0;
  bottom: 0;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  position: fixed;
  width: 100%;
}

footer h4 {
  margin-right: 40px;
}

