.container-carousel-musics-library {
  align-items: center;
  display: flex;
  justify-content: start;
  margin: 10px 0 10px 30px;
  width: 99.7%;
}

.container-card-music-library {
  align-items: center;
  background-color: rgb(42, 42, 42);
  border-radius: 7px;
  display: flex;
  height: 28.5vh;
  margin: 0 12px;
  width: 10vw;
}

.container-card-music-library img {
  border-radius: 7px;
  height: 170px;
  margin: 0 0 15px 11px;
}

.container-card-music-library h3 {
  color: white;
  font-size: 0.9em;
  margin-left: 11px;
  text-align: center;
}

.container-card-music-library h4 {
  color: white;
  font-size: 0.8em;
  margin-left: 11px;
  text-align: center;
}

.title-container-card-library {
  color: white;
  font-size: 1.5em;
  margin: 25px 40px;
}

.container-card-music-library:hover {
  border: 1px solid rgba(220, 220, 220, 0.6);
}

@media ( max-width : 1680px ) { /* Tela: laptop: 1680 x 1050 */

  .container-card-music-library img {
    height: 145px;
    margin: 0 0 8px 9.4px;
    width: 145px;
  }
}

@media ( max-width : 1440px ) { /* Tela: laptop: 1440 x 900 */

  .container-card-music-library img {
    height: 125px;
    margin: 0 0 8px 8px;
    width: 125px;
  }

  .container-card-music-library h3 {
    font-size: 0.8em;
  }

  .container-card-music-library h4 {
    font-size: 0.62em;
  }
}

