.container-index {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.container-sideBar {
  background-color: black;
  width: 12.5vw;
}

.container-header-content {
  background-color: green;
  width: 73vw;
}

.container-friendActivity {
  background-color: black;
  width: 14.5vw;

}
