.container-index {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.container-sideBar {
  width: 15vw;
  background-color: black;
}

.container-header-content {
  width: 70vw;
  background-color: green;
}

.container-friendActivity {
  width: 15vw;
  background-color: yellow;
}