.title-artist-liked-songs {
  color: rgba(220, 220, 220, 0.9);
  font-size: 1.5em;
  margin: 25px 40px;
}

.container-music-liked-song {
  color: rgba(220, 220, 220, 0.9);
}

.button-icon-add-heart-musics {
  background-color: transparent;
  border: none;
  margin-right: 20px;
}

.icon-heart-favorite-musics-api-liked {
  background-color: transparent;
  color: red;
  font-size: 0.8em;
}

.icon-heart-favorite-musics-api-liked:hover {
  color: rgb(95, 95, 95);
  cursor: pointer;
}

.container-liked-music-api p {
  background-color: transparent;
  color: rgba(220, 220, 220, 0.9);
  font-size: 1.4em;
}
